@charset "utf-8";

body{
    background-color: #200000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.icon_mark{
    background-color: #f7f7f7; 
    border-radius: 150px; 
    padding: 10px 15px;
}

.icon_perfil{
    border-radius: 150px;
}



.quadrado{
    width: 35%;
    height: 70px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to top,
    #0e0101 4%,
    #650f0f 4%,
    #ff6868 92%);
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
}


.quadrado:hover{
    width: 600px;
    height: 90px;
    padding: 10px 20px;
    transition: width 0.6s, height 0.6s;
}

.quadrado:not(:hover){
    width: 35%;
    height: 70px;
    padding: 10px 20px;
    transition: width 0.6s, height 0.6s;
}

.pe {
    background-color: white; 
    color: black;
    height: auto;
    width: 100%; 
    font-size: 15px; 
    font-weight: bold; 
    text-align: center;
    padding: 10px 0;
}

.icon_buttom{
    height: 55px;
    width: 55px;
}

.caixa {
    width: 15px;
    padding: 15px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}


    .container {
        display: flex;
        justify-content: space-between;
        width: 35%;
        margin: 0% 31%;
    }

    .icons_contact{
        width: 75px;
    }
